/* Make the page use the entire screen */
@font-face {
    font-family: Montserrat;
    src: url(assets/Montserrat-VariableFont_wght.ttf);
}

html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    font-family: Montserrat;
    background-color: #2148C0;
    margin: 0px;
}

/* White rectangle in the middle of the screen */

#main-holder {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

/* -------------------------------------------------------------- */

/* Error message. By default it's transparent, but the opacity is controlled
  by JavaScript */

#login-error-msg {
    width: 23%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
    opacity: 0;
}

#error-msg-second-line {
    display: block;
}

/* -------------------------------------------------------------- */

input {
    font-family: Montserrat;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #FFF;
}

/* Adjust the positioning of the login form inside the last row of the
  main grid */

#login-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 20px;
}

/* Style the login form fields' placeholders */

.login-form-field::placeholder {
    color: #FFF;
}

.login-form-field::-webkit-input-placeholder {
    color: #FFF;
}

.login-form-field::-ms-placeholder {
    color: #FFF;
}

/* Style the login form fields (username and password) */

.login-form-field {
    border: 1px solid #FFF;
    border-radius: 4px;
    width: 300px;
    height: 45px;
    background: none;
    box-sizing: border-box;
    padding-left: 51px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
}

#username-field {
    background: url(assets/user.png) no-repeat 12px;
    padding-left: 51px;
}

#password-field {
    background: url(assets/lock.png) no-repeat 12px;
    padding-left: 51px;
}

/* Style the login button */

#login-form-submit {
    width: 300px;
    height: 45px;
    border: none;
    border-radius: 4px;
    color: #2148C0;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    background-color: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
    margin-top: 23px;
}

p {
    margin: 0;
}

#find-password {
    width: 300px;
    display: flex;
    justify-content: flex-end;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    text-align: center;
    color: #FFF;
    padding-top: 11px;
}