/* In general, I follow the guide line from Figma for size, gap, etc. */
/* import font */

@font-face {
    font-family: Montserrat;
    src: url(assets/Montserrat-VariableFont_wght.ttf);
}

/* Make the page use the entire screen */

html {
    height: 100%;
}

/* Style body */

body {
    height: 100%;
    width: 100%;
    font-family: Montserrat;
    background-color: #2148C0;
    margin: 0px;
}

/* background style */
#background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#background img {
    float: right;
    width: 67.5%;
    height: 100%;
}

#circle1 {
    width: 219px;
    height: 219px;
    border-radius: 0 219px 0 0;
    background-color: #274FC7;
    float: left;
    bottom: 0;
    position: absolute;
}

#circle2 {
    width: 286px;
    height: 286px;
    border-radius: 0 286px 0 0;
    background-color: #244BC5;
    float: left;
    bottom: 0;
    position: absolute;
    z-index: -1;
}

#circle3 {
    width: 362px;
    height: 362px;
    border-radius: 0 362px 0 0;
    background-color: #274FC7;
    float: left;
    bottom: 0;
    position: absolute;
    z-index: -2;
}

/* -------------------------------------------------------------- */

#main-holder {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

#group-img {
    padding-bottom: 71.15px;
    width: 119.39px;
    height: 97.85px;
}

/* -------------------------------------------------------------- */

/* Error message. By default it's transparent, but the opacity is controlled
  by JavaScript */

#error-message {
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    align-items: center;
    color: red;
    opacity: 0;
    cursor: default;
}

/* -------------------------------------------------------------- */

input {
    font-family: Montserrat;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #FFF;
}

/* Adjust the positioning of the login form */

#login-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
}

/* Style the login form fields' placeholders in different browsers*/

.login-form-field::placeholder {
    color: #FFF;
}

.login-form-field::-webkit-input-placeholder {
    color: #FFF;
}

.login-form-field::-ms-placeholder {
    color: #FFF;
}

/* Style the login form fields (username and password) */

.login-form-field {
    border: 1px solid #FFF;
    border-radius: 4px;
    width: 300px;
    height: 45px;
    background: none;
    box-sizing: border-box;
    padding-left: 51px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
}

/* set icon as background not to be bothered by text */

#username-field {
    background: url(assets/user.png) no-repeat 12px;
    margin-bottom: 20px;
}

#password-field {
    background: url(assets/lock.png) no-repeat 12px;
}

/* Style the login button */

#login-form-submit {
    width: 300px;
    height: 45px;
    border: none;
    border-radius: 4px;
    color: #2148C0;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    background-color: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
    margin-top: 23px;
}

/* Style the Forgot password message */

p {
    margin: 0;
}

#find-password {
    width: 300px;
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    text-align: center;
    color: #FFF;
    padding-top: 11px;
    cursor: pointer;
}